@page "/admin/branch/{id}"
@model FranCoffee.Website.Areas.Admin.Pages.Branch.DetailModel
@removeTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}

@section custom_head{
    <!-- summernote -->
    <link rel="stylesheet" href="/admin/plugins/summernote/summernote-bs4.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="/admin/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="/admin/plugins/toastr/toastr.min.css">

    <style>
        .note-editable.card-block {
            height: 500px;
        }

        .dropdown-item {
            color: black !important;
        }

        .note-editor.note-frame .note-editing-area .note-editable {
            background-color: #000;
        }
    </style>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Chi tiết chi nhánh</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/branch">Danh sách chi nhánh</a></li>
                        <li class="breadcrumb-item active">Chi tiết chi nhánh</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">

        <!-- Main row -->
        <div class="row">
            <div class="col-12">
                <div class="col-12">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin chi nhánh</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="main-form" role="form" method="post" enctype="multipart/form-data">
                            @Html.AntiForgeryToken()
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Nhập liệu cho ngôn ngữ</label>
                                    <select class="form-control w-50 lang-select-list" onchange="onLangChanged(event)">
                                        @foreach (var l in App.Instance.SupportedCulturesInfo)
                                        {
                                            <option value="@l"
                                                    @CultureViewHelper.SelectedLang(l)>
                                                @l.NativeName
                                            </option>
                                        }
                                    </select>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label>Tên chi nhánh</label>
                                    @foreach (var l in App.Instance.SupportedCultures)
                                    {
                                        <input type="text" class="form-control w-50 multilang-inp-@l"
                                               style="@CultureViewHelper.DisplayStyle(l)"
                                               name="name" placeholder="" value="@Model.Branch.Name.GetLangString(l)">
                                    }
                                </div>
                                <div class="form-group">
                                    <label>Ngày khai trương</label>
                                    <div class="input-group w-25">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        <input type="text" name="opening_date"
                                               class="form-control" data-inputmask-alias="datetime"
                                               value="@Model.Branch.OpeningDate?.ToString("dd/MM/yyyy")"
                                               data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                <div class="form-group">
                                    <label>Mô tả</label>
                                    @foreach (var l in App.Instance.SupportedCultures)
                                    {
                                        <textarea class="form-control w-50 multilang-inp-@l"
                                                  style="@CultureViewHelper.DisplayStyle(l)"
                                                  name="description">@Model.Branch.Description.GetLangString(l)</textarea>
                                    }
                                </div>
                                <div class="form-group">
                                    <label>Địa chỉ</label>
                                    @foreach (var l in App.Instance.SupportedCultures)
                                    {
                                        <input type="text" class="form-control w-50 multilang-inp-@l" 
                                                  style="@CultureViewHelper.DisplayStyle(l)"
                                               name="address" placeholder="" value="@Model.Branch.Address.GetLangString(l)">
                                    }
                                </div>
                                <div class="form-group">
                                    <label>Khu vực</label>
                                    <select class="form-control w-50" name="area">
                                        @foreach (var a in City.All)
                                        {
                                            if (Model.Branch.Area != null && Model.Branch.Area.Equals(a))
                                            {
                                                <option value="@a" selected>@a</option>
                                            }
                                            else
                                            {
                                                <option value="@a">@a</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Hoạt động</label> &nbsp;&nbsp;&nbsp;
                                    <input type="checkbox" name="active" value="true" @(Model.Branch.Active == true ? Html.Raw("checked") : Html.Raw(""))>
                                </div>
                                <div class="form-group">
                                    <label>Hình đại diện</label> &nbsp;&nbsp;&nbsp;
                                    <input type="file" name="image_url" onchange="previewFile()" accept="image/*">
                                    <div class="row mt-3">
                                        <img @(Model.Branch.ImageUrl != null ? Html.Raw($"src='{Model.Branch.ImageUrl}' ") : Html.Raw(" ")) class="thumbnail-img img img-fluid w-50" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Nội dung bài viết</label>
                                    @foreach (var l in App.Instance.SupportedCultures)
                                    {
                                        <textarea class="textarea multilang-inp-@l" name="intro_content" placeholder="Nội dung bài viết"
                                                  style="@CultureViewHelper.DisplayStyle(l)width: 100%; height: 500px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                    }
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="button" onclick="update()" class="btn btn-primary">Cập nhật</button>
                                <button type="button" onclick="remove()" class="btn btn-danger">Xóa</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section custom_script{
    <!-- SweetAlert2 -->
    <script src="/admin/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="/admin/plugins/toastr/toastr.min.js"></script>
    <!-- Summernote -->
    <script src="/admin/plugins/summernote/summernote-bs4.min.js"></script>

    <script>
    pageInit();
    function pageInit() {

        //Datemask dd/mm/yyyy
        $('[name=opening_date]').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
        $('[name=intro_content]').summernote({
            fontSizes: ['12', '14', '16', '18', '24', '36', '48', '56', '64', '72', '80', '88', '96'],
            toolbar: [
                ['style', ['style']],
                ['fontsize', ['fontsize']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'hr', 'video']],
                ['view', ['fullscreen', 'codeview']],
                ['help', ['help']]
            ],
        });
        @foreach (var l in App.Instance.SupportedCultures)
        {
            <text>
        $('[name=intro_content].multilang-inp-@l')
            .summernote('code', @Html.Raw(Json.Serialize(Model.Branch.IntroContent?.GetLangString(l))));
            </text>
        }

        let mess = "@Model.Message";
        let mess_type = "@Model.MessageType";
        if (mess) {
            if (mess_type == "success")
                toastr.success(mess);
            if (mess_type == "error")
                toastr.error(mess);

            window.history.replaceState({}, "", location.pathname);
        }
    }

    function update() {
        Swal.fire({
            title: 'Xác nhận',
            text: "Bạn chắc chắn muốn cập nhật?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Chắc chắn'
        }).then((result) => {
            if (result.value)
                $("#main-form").submit();
        });
    }

    function remove() {
        Swal.fire({
            title: 'Xác nhận',
            text: "Bạn chắc chắn muốn xóa?",
            type: 'error',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Chắc chắn'
        }).then((result) => {
            if (result.value)
                location.href = "?handler=delete";
        });
    }
    </script>
}