@{
    string ActiveMenu(string menuName)
    {
        return menuName.Equals(Model.Info.Menu) ? "active" : "";
    }
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Model.Info.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/admin/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    @RenderSection("custom_head", false)

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        Xin chào <b>admin</b>
                        &nbsp;
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="/admin/identity" class="dropdown-item">
                            Thông tin tài khoản
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="/admin/logout" class="dropdown-item">
                            Đăng xuất
                        </a>

                    </div>
                </li>

            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/admin" class="brand-link">
                <img src="/admin/dist/img/AdminLTELogo.png?v=31032020" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">@App.Instance.Name</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <div class="d-block text-white">
                            HỆ THỐNG
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="/admin/blog" class="nav-link @ActiveMenu("blog")">
                                <i class="nav-icon fas fa-file"></i>
                                <p>
                                    Bài đăng
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/category" class="nav-link @ActiveMenu("category")">
                                <i class="nav-icon fas fa-list"></i>
                                <p>
                                    Danh mục
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/product" class="nav-link @ActiveMenu("product")">
                                <i class="nav-icon fas fa-utensils"></i>
                                <p>
                                    Sản phẩm
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/branch" class="nav-link @ActiveMenu("branch")">
                                <i class="nav-icon fas fa-archway"></i>
                                <p>
                                    Chi nhánh
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- content -->
        @RenderBody()

    <footer class="main-footer">
        <strong>Copyright &copy; 2014-2019 <a href="/admin/http://adminlte.io">AdminLTE.io</a>.</strong>
        All rights reserved.
        <div class="d-sm-inline-block float-right ml-5">
            @{
                var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}";
                returnUrl = returnUrl + Context.Request.QueryString;
                var currentLang = CultureHelper.CurrentLang.ToLower();
            }
            <form class="language-box" action="/language" method="get">
                <input type="hidden" name="return_url" value="@returnUrl" />
                <select name="culture" onchange="$('.language-box').submit()">
                    @foreach (var c in App.Instance.SupportedCulturesInfo)
                    {
                        var selected = c.TwoLetterISOLanguageName.ToLower().Equals(currentLang);
                        if (selected)
                        {
                            <option value="@c.Name" selected>@c.DisplayName</option>
                        }
                        else
                        {
                            <option value="@c.Name">@c.DisplayName</option>
                        }
                    }
                </select>
            </form>

        </div>
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.0.1
        </div>
    </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="/admin/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- InputMask -->
    <script src="/admin/plugins/moment/moment.min.js"></script>
    <script src="/admin/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/admin/dist/js/adminlte.js"></script>

    <script>
        function onLangChanged(ev) {
            var val = $(ev.target).val();
            var hiddenInp = $('[class*=multilang-inp-]');

            for (var i = 0; i < hiddenInp.length; i++) {
                var inp = $(hiddenInp[i]);
                inp.hide();
                if (inp.is('textarea')) {
                    var currentNext = $(inp[0].nextElementSibling);
                    if (currentNext.hasClass('note-editor')) {
                        currentNext.hide();
                    }
                }
            }

            var currentInp = $('.multilang-inp-' + val);
            for (var i = 0; i < currentInp.length; i++) {
                var inp = $(currentInp[i]);
                if (!inp.is('textarea'))
                    inp.show();
                else {
                    var currentNext = $(inp[0].nextElementSibling);
                    if (currentNext.hasClass('note-editor')) {
                        currentNext.show();
                    } else inp.show();
                }
            }
        }

        layoutInit();
        function layoutInit() {
        }
    </script>

    @RenderSection("custom_script", false)

    <script>
        postLayoutInit();
        function postLayoutInit() {
            $('.lang-select-list').val('@CultureHelper.CurrentLang').trigger('change');
        }
    </script>

</body>
</html>